body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px; /* Added padding to the body for overall spacing */
    background-color: #f5f5f5;
}


h2 {
   
    text-align: center;
    margin-bottom: 20px;
    margin-top:20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px; /* Padding around the nav elements */
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.navItems li a {
    font-size: 25px;
    color: #ADD8E6;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}
.links a {
    font-size: 30px;
    color: #3d535f;
    margin: 25px 10px;
}
.links a:hover {
    color: #800080;
}


.logo {
    font-size: 3em;
    font-weight: 900;
    
    color: #333;
}
.logo b {
    color: #800080; /* Violet color for the dot */
}



.navItems {
    list-style-type: none;
    display: flex;
}

.navItems li {
    margin-right: 15px;
}

.navItems a {
    color: #ffffff;
    text-decoration: none;
}

.navItems a:hover {
    color: #800080;
}

